/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Environment Variables
.env
.env.backup
.env.example
.env.production
*.env
auth.json

# IDEs
.idea
.vscode
.fleet
.nova
.zed
.phpactor.json
*.iml
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
desktop.ini

# Testing & Cache
.phpunit.result.cache
.phpunit.cache
.coverage
/coverage
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log